.custom-hero {
    border: solid 2px black;
    min-width: 60vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#weatherBoard {
    flex-direction: column;
}

.smallWeatherBox {
    margin: 10px 20px 10px;
    text-align: center;
}

.fiveDayForecastH2 {
    
    margin: auto;
}

.newDate {
    font-weight: bold;
}

.extra-info-box {
    border: solid black 2px;
    min-width: 60vw;
    display: flex;
    justify-content: center;
   
}

.weather-icon {
    width: 8rem;
}

.custom-main-box {
    font-size: 2rem;
}

.custom-box {
    font-size: 1.6rem;
}